* {
  box-sizing: border-box;
}
  

#regForm {
  background-color: #FFFDFA;
  margin: 40px auto;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  border: 1px solid #333333;
  border-radius: 4px;
}


input {
  margin-bottom: 13px;
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Verdana, Tahoma, sans-serif;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}


.tab {
  display: none;
  text-align: left;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #53C4C7;
}

#prevBtn{
    background-color: #53C4C7;
    border-radius: 4px;
    padding: 15px 32px;
  text-align: center;
}

#nextBtn{
    background-color: #53C4C7;
    border-radius: 4px;
    padding: 15px 32px;
  text-align: center;
}

input[type=radio]#shelter{
  margin-bottom: 13px;
  padding: 10px;
  padding-right: 10%;
    display: inline-block;
    accent-color: #53C4C7;
}

label{
  margin-bottom: 13px;
  padding: 10px;
}





